include requirements.txt
include requirements-full.txt
include README.md
include LICENSE

include alfworld/data/alfred.pddl
include alfworld/data/alfred.twl2
include alfworld/gen/layouts/*
include alfworld/agents/config/rewards.json
