include requirements.txt
include README.md
include LICENSE
include setup.sh

include alfworld/data/alfred.pddl
include alfworld/data/alfred.twl2
include alfworld/gen/layouts/*
include alfworld/agents/config/rewards.json
