numpy #==1.16.2
pandas
opencv-python
networkx
h5py
tqdm
vocab
revtok
Pillow
torch==1.2.0
torchvision==0.4.0
tensorboardX==1.8
ai2thor==2.1.0
transformers
tokenizers==0.8.1rc2
scipy
ipython
matplotlib
cython
nltk
pillow
gym==0.15.4
tqdm
pipreqs
h5py
pyyaml
pytz
visdom
fast-downward @ https://github.com/MarcCote/downward/archive/faster_replan.zip
textworld @ https://github.com/MohitShridhar/TextWorld/archive/handcoded_expert_integration.zip